*.log
*.ckpt
__pycache__/
*.pyc
data/clean_segments/
log_seizure_detection/
checkpoints/
*.out
*.log
*.ckpt
__pycache__/
plots/
*.pyc





log_seizure_detection/
logs/
checkpoints/
*.out

*.DS_Store

venv/
env/
.env/
*.egg-info/

