*.log
*.ckpt
__pycache__/
*.pyc
datasets/
log_seizure_detection/
checkpoints/
*.out
*.log
*.ckpt
__pycache__/
*.pyc
datasets/
log_seizure_detection/
checkpoints/
*.out

# Python virtual environments
env_BIOT/
venv/
env/
.env/
*.egg-info/
